*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 

}

body{
    font-size: 16px;
    height: 100%;
}


#index-main-main-container::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/background-1.png");
    background-size: cover;
    opacity: 0.8;

}

#index-main-container{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../Assets/blue-bg.jpg");
    background-size: cover;
    overflow: auto;
}

#nav{
    display: none;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background: rgb(57, 84, 119);
    width: 100%;
    height: 70px;
    margin-top: 25px;
    border-bottom: 1px solid black;
    box-shadow: 0 10px 15px -3px rgb(9, 12, 41);
    animation: fade-in 0.5s ease-in;
    z-index: 5;
}

#profile-pic p{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: grey;
    background-image: url('Assets/profile-new.jpeg');
    background-size: cover;
    background-position: center;

    border: 3px solid black;
    box-shadow: 0 10px 15px -3px rgb(9, 12, 41);
}

.links{
    display: flex;
}

.links a{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    padding: 5px 15px;
    margin: 10px;
    border: none;
    color: white;
}

.links a:hover, .links img:hover{
    cursor: pointer;
    /* text-decoration: underline white 2px; */
    background: #20203b;
    border-radius: 10px;
    transition-duration: 0.5s;
    scale: 1.1;
}


.links img{
    margin-top: 5px;
}

#links-hamburger{
    display: none;
}

#links-hamburger img{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    cursor: pointer;
}

#drop-down-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    right: 0%;
    border: 1px solid black;
    padding: 20px;
    background: rgb(57, 84, 119);
    scale: 0;
}

#drop-down-menu a{
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    padding: 5px 15px;
    margin: 5px;
    border: none;
    color: white;
}

#drop-down-menu a:hover{
    cursor: pointer;
    /* text-decoration: underline white 2px; */
    background: #20203b;
    border-radius: 10px;
    transition-duration: 1000ms;
}

#main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100%;
}

#main-page{
    margin-top: 150px;
    margin-bottom: 100px;
}

#main-content{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    top: 200px;
    bottom: 200px;
    height: 50%;
    width: 60%;
    min-height: 400px;
    min-width: 800px;
    border: 1px solid black;
}

#main-wrapper2{
    display: flex;
    height: 50%;
    width: 60%;
    min-height: 400px;
    min-width: 800px;
    border: 1px solid black;
    margin-top: 200px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 20px 10px;
    margin-top: auto;
    background: #20203b;
    color:white;
    width: 100%;
}

.footer-contact #footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


#footer .links a:hover, .links img:hover{
    cursor: pointer;
    /* text-decoration: underline white 2px; */
    background: #20203b;
    border-radius: 10px;
    transition-duration: 1000ms;
}

#footer-nav{
    display: flex;
    justify-content: space-between;
}

#footer .links a{
    border-radius: 10px;
    background: rgb(107, 157, 221);
    background: rgb(57, 84, 119);
}

#footer .links a:hover, #footer .links img:hover{
    cursor: pointer;
    background: rgb(107, 157, 221);
    transition-duration: 1000ms;
}


#icons{
    font-size: 1.2rem;
    padding: 10px;
}

#index-icons{
    display: none;
    font-size: 1.2rem;
    padding: 10px;
    animation: fade-in 2s ease-in;
}

#index-icons{
    margin-bottom: 100px;
}

#icons p, #index-icons p{
    padding: 5px;
    margin-bottom: 20px;
}

#icons a, #index-icons a{
    text-decoration: none;
}

#icons a img, #index-icons a img{
    padding: 5px;
}

#icons img:hover, #index-icons img:hover{
    scale: 1.2;
}

#copyright{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 40px;
    padding: 0px 20px;
}

#author{
    font-size: 1.1rem;
}

#author img{
    margin-right: 10px;
}

.hidden{
    opacity: 0;
}

.index-main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.index-page-container{
    position: absolute;
    top: 25%;
    margin: 0px auto;
    color: white;
    width: 50%;
}

.index-text1{
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.index-text2{
    font-size: 3.0rem;
    margin-bottom: 30px;
}

.index-text2-p1{
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    width: 14ch;
    animation: 
        cursor .5s step-end 5 alternate,
        typing 1.5s steps(14);
}

.index-text2-p2{
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    border-right: 5px solid rgb(247, 247, 247);
    width: 26ch;
    animation: 
        cursor2 .5s step-end infinite alternate,
        typing 1.5s steps(26) forwards;
    animation-delay: 2.5s
}


.index-text3{
    display: none;
    width: 70%;
    margin-bottom: 50px;
    font-size: 1.3rem;
    animation: slide-in2 1s ease-in;
}

@keyframes cursor {
    50% { 
        border-right: 5px solid rgb(247, 247, 247);
    }
}

@keyframes cursor2{
    50% { 
        border-color: transparent;
    }
}

@keyframes typing {
    0%{
        opacity: 1;
    }
    from {
        width: 0
    }
    100%{
        opacity: 1;
    }
}

.index-button{
    display: none;
    flex-direction: row;
    animation: fade-in 1.0s ease-in;
}

.index-button a{
    margin-right: 30px;
    margin-bottom: 50px;
}

.index-button button{
    padding: 5px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
    white-space: nowrap
}

.index-button button:hover{
    background: rgb(47, 47, 185);
    color: white;
    scale: 1.1;
}


@keyframes slide-out{
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slide-in{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-in2{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-in-X{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-out-X{
    from{
        transform: translateX(0%);
        opacity: 1;
    }
    to{
        transform: translateX(100%);
        opacity: 0;
    }
}


@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


#loading-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    color: white;
    /* To remove this line of code when deploying */
    display: none;
}

#loading-page img{
    height: 5em;
    margin-bottom: 20px;
}



@keyframes load-page{
    20%{
        opacity: 20%;
    }
    40%{
        opacity: 0%;
    }
    60%{
        opacity: 50%;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* @keyframes size-up{
    20%{
        height: 5em;
    }
    40%{
        height: 0em;
    }
    60%{
        height: 7em;
    }
    80%{
        height: 0em;
    }
    100%{
        height: 10em;
    }
} */

#resume-button a{
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px){
    #footer .links{
        display: none;
    }
}

@media (max-width: 768px){
    .links{
        display: none; 
    }
    #links-hamburger{
        display: block;
    }
    #drop-down-menu{
        scale: 1;
    }
    #footer{
        display: flex;
        flex-direction: column;
    }
    #copyright{
        margin-top: 15px;
        font-size: 0.8rem;
    }
    #author{
        font-size: 0.8rem;
        margin-top: 15px;
    }
    
    #author-name{
        display: none;
        margin-top: 0px;
    }
    #icons{
        margin-bottom: -40px;
        scale: 0.65;
        display: flex;
        flex-direction: row;
    }
    #main-containter{
        overflow-x: auto;
    }
    #contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }
    #contact-email, #contact-phone, #contact-socials{
        margin-bottom: 30px;
    }
    #contact-main-wrapper{
        scale: 0.8;
    }
    #main-page{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    #nav{
        height: 50px;
    }
    #profile-pic p{
        scale: 0.8
    }
    .index-page-container{
        width: 80%;
        top: 15%;
        left: 15%
    }
    .index-text1{
        font-size: 1.0rem;
    }
    
    .index-text2{
        font-size: 1.5rem;

    }
    
    .index-text3{
        width: 80%;
        margin-bottom: 50px;
        font-size: 1.0rem;
    }

    .index-button button{
        padding: 5px 10px;
        font-size: 0.8rem;
        border-radius: 10px;
        border: none;
        transition: 0.4s;
        cursor: pointer;
    }
}