body::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../Assets/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -10;
}

.blog-main-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    top: 200px;
    bottom: 200px;
    height: 50%;
    width: 80%;
    margin-bottom: 100px;
}

.blog-header{
    font-size: 1.4em;
    position: relative;
    padding-left: 30%;
    border-bottom: 4px solid rgb(160, 152, 152);
    margin-bottom: 50px;
    margin-top: 200px;
}

.blog-content{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 70%;
}

#blog-content button{
    cursor: pointer;
}

.blog-latest-post{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(204, 197, 197);
    border-bottom: 1px solid black;
    box-shadow: 0 5px 15px -3px rgb(9, 12, 41);
    min-width: 25%;
    flex-basis: 30%;
    text-align: center;
    opacity: 1;
    animation-fill-mode: both;
}

.blog-latest-post:nth-child(1){
    animation: fade-in 1.00s ease-in forwards;

}

.blog-latest-post:nth-child(2){
    animation: fade-in 1.00s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.blog-latest-post:nth-child(3){
    animation: fade-in 1.00s ease-in;
    animation-delay: 1.0s;
    animation-fill-mode: backwards;
}

.blog-latest-post:nth-child(4){
    animation: fade-in 1.00s ease-in forwards;

}

.blog-latest-post:nth-child(5){
    animation: fade-in 1.00s ease-in forwards;
    animation-delay: 0.5s;
}

.blog-latest-post:nth-child(6){
    animation: fade-in 1.00s ease-in forwards;
    animation-delay: 1.0s;
}

.blog-latest-post img{
    object-fit: cover;
    max-height: 225px;
    min-height: 225px;
    min-width: 100%;
    margin-bottom: 10px;
}


.blog-latest-post button{
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.0rem;
    color:white;
    background: rgb(57, 84, 119);
}

.blog-latest-post button:hover{
    background-color: rgb(77, 77, 214);
}

.blog-content-container{
    display: flex;
    flex-direction: column;
}

.blog-content-container a{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}

.blog-title{
    border-bottom: 1px solid grey;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.blog-title:hover{
    cursor:pointer;
    color: rgb(57, 84, 119);
    text-decoration: underline;

}

.blog-content-preview{
    font-size: 0.9rem;
    text-align: start;
    padding: 0px 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* border: 1px solid black; */
}

.popular-posts{
    opacity: 0;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;

    }
    to{
        opacity: 0;

    }
}

@media (max-width: 1024px){
    .blog-main-wrapper{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .blog-latest-post{
        flex-direction: row;
        border: none;
        box-shadow: none;
        margin-bottom: 10px;
    }
    .blog-header{
        font-size: 1.0rem;
        margin-bottom: 10px;
        margin-top: 100px;
    }
    .blog-content-container{
        width: 60%;
    }
    .blog-content-container a{
        font-size: 0.9rem;
    }
    .blog-content-preview{
        font-size: 0.75rem;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-latest-post img, .blog-other-post img{
        width: 40%;
        max-height: 175px;
        min-height: 0px;
        min-width: 125px;;
        margin-right: 20px;
    }
    .blog-content-preview{
        -webkit-line-clamp: 3;
    }
    .blog-latest-post button{
        margin-top: 10px;
        padding: 2px 20px;
        border-radius: 10px;
        font-size: 0.7rem;
        color:white;
        background: rgb(57, 84, 119);
    }
    .popular-posts{
        opacity: 1;
    }
}

@media (max-width: 768px){

}